:root {
    /* colors */
    --clr-primary: #f7f7f7;
    --clr-secondary: #db561d;
    --clr-nt: white;
    /* fonts */
    --ff-primary: 'Roboto', sans-serif;
    /* font weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
}

/* Reset CSS */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}





/* Global Styles */
body {
    font-family: var(--ff-primary);
}

.desafio-container {
    display: grid;
    background-color: var(--clr-nt); 
}





/* Navbar */
.navbar {
    background-color: var(--clr-primary);
}

.nav-container {
    width: 100%;
    padding: 0 1rem;
}

.navbar-nav {
    display: flex;
    gap: 3rem;
    width: 100%;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar-nav {
        gap: 0rem;
    }
}





/* Desafío */
.desafio-card {
    justify-self: center;;
    max-width: 800px;
    margin-top: 4rem;
    padding: 0 1rem;
    
}

.desafio-inicio {
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.desafio-inicio ol {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-position: inside;
    padding-left: 1rem;
}

.desafio-cachipun {
    height: clamp(150px, 20vw, 300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    background-color: var(--clr-secondary);
    border-radius: 2rem;
}

/* Typography */
h1 {
    font-size: clamp(0.5rem, 8vw, 2rem); 
    font-weight: var(--fw-500);
    
}

h2 {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    font-weight: var(--fw-400);
}

li {
    font-size: clamp(0.5rem, 4vw, 1rem);
    
}

li::marker {
    color: var(--clr-secondary);
    font-weight: var(--fw-500);
}

.desafio-card p {
    font-size: clamp(0.5rem, 5vw, 1.5rem);
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
}

.desafio-cachipun {
    font-size: clamp(0.5rem, 4vw, 1.5rem);
    color: var(--clr-nt);
}

.desafio-cachipun #result p{
    color: var(--clr-nt);
}

.desafio-cachipun button {
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-nt);
    color: var(--clr-secondary);
    padding: 0.3rem 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.desafio-cachipun button:hover {
    background-color: var(--clr-secondary);
    color: var(--clr-nt);
    border-style: solid;
}

#result p{
    font-size: clamp(0.5rem, 4vw, 1.2rem);
}



/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 var(--br) var(--br);
    background-color: var(--clr-primary);
    min-height: 4rem;
    font-size: clamp(0.5rem, 4vw, 1rem);
}

footer a {
    color: var(--clr-secondary);
    text-decoration: none;
}

footer p {
    margin: 0;
    padding: 0;
}